@import '../../../styles/common'

.ni-checkbox
  display: inline-block
  vertical-align: middle

  svg
    cursor: pointer
  input // Hide checkbox visually but remain accessible to screen readers
    border: 0
    clip: rect(0 0 0 0)
    clippath: inset(50%)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    white-space: nowrap
    width: 1px


.checkbox-with-text
  display: flex
  align-items: center
  text-align: left

  +from--tablet
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between

  p
    font-weight: 500
    @include font-size(12px, 17px)
    color: #8F92A2
    margin: 0
