@import '../../../styles/common'
$title-color: #070000
$checkbox-background: #5CB97F
$checkbox-color: #ffffff
$background-color: #7B8A9E0A
*
  box-sizing: border-box

$number-size: 24px

.background
  background-color: $background-color

.terms-container
  max-height: 635px

.App main.step-terms-and-conditions
  .mainContainer_wrapper
    max-width: 1160px
    .mainContainer
      padding: 0

      .terms-content
        position: relative
        max-width: 920px
        .info
          overflow: hidden
          h1
            font-size: 32px
            text-align: center
            +from--desktop
              text-align: left
          p
            color: $gray
            line-height: 1.5
            margin-bottom: 1.5em
        .info
          padding: 6%
          +from--desktop
            padding: 4%

        .content
          background-color: #F6F7FC
        +from--desktop
          display: flex
          max-height: 62vh
          .info
            flex: 1
          .content
            width: 60%
            overflow: scroll
            border-top-right-radius: 16px
            border-top-left-radius: 16px
            border: 8px solid #fff
            border-bottom: 0
            .doc_wrapper
              padding: 6%
              +from--desktop
                padding: 4%
      .terms-footer
        position: sticky
        bottom: 0
        left: 0
        right: 0
        background: $title-color
        box-shadow: 0px 10px 40px rgba(black, 0.15)
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        border-bottom-right-radius: 16px
        border-bottom-left-radius: 16px
        +from--desktop
          position: relative
          z-index: 2
        .button
          border-radius: 8px

        .checkbox-with-text
          align-items: center
          .ni-checkbox
            margin-right: 16px
            .checkbox
              border: 0
              background: $checkbox-background
              color: transparent
              svg
                stroke: currentColor
              &.checked
                color: $checkbox-color

          p
            font-size: 1rem
            color: #fff

        [disabled].button
          transform: scale(0)
          display: none
        +for--phone-only
          justify-content: space-around
          [disabled].button
            display: none
